@model Logic.BusinessUser.BusinessUserModel

@{
    ViewData["Title"] = "BusinessPage";
}
@using Logic.TimeSlot;

<head>
    <link rel="stylesheet" href="~/css/TimeSlotContainer.css" />
    <link rel="stylesheet" href="~/css/card_animation.css">
    <link rel="stylesheet" href="~/css/Grid.css" />
    <link rel="stylesheet" href="~/css/style.css" />
    <script src="~/js/TimeSlot.js"></script>
</head>

@using Logic;
@{ TimeSlotCollection timeSlotCollection = new();
    IEnumerable<TimeSlotModel> timeSlots = timeSlotCollection.GetTimeSlotByBusinessId(Model.Id);}


<body onload="openDay(event, 'Mon')">

    <div class="v-main__wrap v-content__wrap">

        <div class="site-container elevation-shadow">

            <div class="home-header">
                <div class="row">

                    <div class="col-5" style="padding:15px;">
                        <div style=" vertical-align: middle;">
                            <h3>See the available timeslots below to make a reservation</h3>
                        </div>
                        <div class="business-info">
                            <p>@Model.Info</p>
                        </div>
                    </div>
                    <div class="col-5" style="max-height:200px;">
                        <img class="card-img-top" src="data:image/png;base64, @Model.ImageBase64" alt="Missing Logo" style="height:200px; object-fit: contain;" />
                    </div>
                </div>

            </div>

            <div class="container business-container " style="padding:10px;">

                <div class="row" style="min-height:400px;">
                    <div class="col-5">
                        <div class="date-picker">
                            <h4>Select a date below and check the availability.</h4>
                            <hr />



                            @using (Html.BeginForm("TimeSlotPicker", "Reservation", new { businessId = Model.Id }, FormMethod.Post))
                            {
                                <table cellpadding="5" class="ml-5">
                                    <tr>
                                        <td>Date:</td>
                                        <td><input type="date" name="Date" value="" /></td>
                                    </tr>
                                </table>
                                <br /> <div class="text-danger">
                                    @TempData["ErrorDate"]
                                </div>
                                <div class="ml-5">
                                    <div class="p-1">
                                        <input class="btn btn-primary" type="submit" value="See timeslots" />
                                    </div>
                                </div>
                            }

                        </div>
                    </div>

                    <div class="col-7">
                        <div class="container timeslot-container">
                            <h4>See the timeslots created by @Model.BusinessName here.</h4>
                            <h6>Note these are not specific for a date yet.</h6>
                            <div class="tab mb-3">
                                <button class="tablinks active" onclick="openDay(event, 'Mon')">Monday</button>
                                <button class="tablinks" onclick="openDay(event, 'Tue')">Tuesday</button>
                                <button class="tablinks" onclick="openDay(event, 'Wed')">Wednesday</button>
                                <button class="tablinks" onclick="openDay(event, 'Thu')">Thursday</button>
                                <button class="tablinks" onclick="openDay(event, 'Fri')">Friday</button>
                                <button class="tablinks" onclick="openDay(event, 'Sat')">Saturday</button>
                                <button class="tablinks" onclick="openDay(event, 'Sun')">Sunday</button>
                            </div>

                            @{
                                List<string> DotW = new List<string> { "Mon", "Tue", "Wed", "Thu", "Fri", "Sat", "Sun" };
                            }

                            <!-- Tab content -->
                            <div class="weekBox">

                                @foreach (var day in DotW)
                                {
                                    <div id="@day" class="tabcontent" style="display:block;">
                                        <div class="TimeSlots">
                                            <table style="width:100%">
                                                <tr>
                                                    <th>Day</th>
                                                    <th>Start Time</th>
                                                    <th>End Time</th>


                                                </tr>
                                                @foreach (var timeSlot in timeSlots)
                                                {
                                                    if (timeSlot.DayOTWeek == day)
                                                    {
                                                        <tr>
                                                            <th>@timeSlot.DayOTWeek</th>
                                                            <td>@timeSlot.StartTime.TimeOfDay</td>
                                                            <td>@timeSlot.EndTime.TimeOfDay</td>

                                                        </tr>
                                                    }
                                                }
                                            </table>
                                        </div>
                                    </div>

                                }


                            </div>

                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</body>