@model Logic.BusinessUser.BusinessUserModel
@{
    ViewData["Title"] = "Home Page";
}
@using Logic.BusinessUser;
@using Logic.Reservation;
@using Logic.TimeSlot

@{ ReservationCollection reservationCollection = new();
    IEnumerable<ReservationModel> reservations = reservationCollection.GetReservationByBusinessId(Model.Id).OrderBy(o => o.Date).ThenBy(o => o.StartTime).Where(o => o.Date > DateTime.Now);

}


<head>
    <link rel="stylesheet" href="~/css/card_animation.css">
    <link rel="stylesheet" href="~/css/Grid.css" />
    <link rel="stylesheet" href="~/css/style.css" />
    <link rel="stylesheet" href="~/css/TimeSlotContainer.css" />
    <script src="~/js/TimeSlot.js"></script>
</head>


<div class="v-main__wrap v-content__wrap">

    <div class="site-container elevation-shadow">

        <div class="home-header">
            <div class="row">

                <div class="col-7">

                    <h1>Welcome to Your business Dashboard!</h1>
                    <h3>Here you can manage your business.</h3>

                </div>
                <div class="col-5">
                    <img class="center mb-5" style="max-width:95%;" src="data:image/png;base64, @Model.ImageBase64" alt="Logo Image" /><br>
                </div>
            </div>

        </div>

        <div class="container business-container text-light row pt-3">

            <div class="col-8">

                <h3>Upcomming reservations</h3>
                <div class="reservation-headers row">
                    <div class="col-lg-3 col-sm-2">
                        <p>Name</p>
                    </div>

                    <div class="col-lg-2 col-sm-2">
                        <p>Date</p>
                    </div>
                    <div class="col-lg-1 col-sm-1">
                        <p>Start</p>
                    </div>
                    <div class="col-lg-2 col-sm-1">
                        <p>End</p>
                    </div>
                    <div class="col-lg-3 col-sm-3">
                    </div>
                </div>
                <div>
                    @foreach (var reservation in reservations)
                    {
                        <div class="reservation-container row">
                            <div class="col-lg-3 col-sm-2">
                                <p>@reservation.FirstName @reservation.LastName</p>
                            </div>

                            <div class="col-lg-2 col-sm-2">
                                <p>@reservation.Date.ToString("dd/MM/yyyy")</p>
                            </div>
                            <div class="col-lg-1 col-sm-1">
                                <p>@reservation.StartTime</p>
                            </div>
                            <div class="col-lg-2 col-sm-2">
                                <p>@reservation.EndTime</p>
                            </div>
                            <div class="col-lg-3 col-sm-3">
                                <a class="btn btn-primary">Check-in</a>
                            </div>
                        </div>
                    }
                </div>

            </div>


            <div class="col-4">

                <h3>Timeslots for your business</h3>

                <div class="container">
                    <div class="tab">
                        <button class="tablinks" onclick="openDay(event, 'Mon')">Monday</button>
                        <button class="tablinks" onclick="openDay(event, 'Tue')">Tuesday</button>
                        <button class="tablinks" onclick="openDay(event, 'Wed')">Wednesday</button>
                        <button class="tablinks" onclick="openDay(event, 'Thu')">Thursday</button>
                        <button class="tablinks" onclick="openDay(event, 'Fri')">Friday</button>
                        <button class="tablinks" onclick="openDay(event, 'Sat')">Saturday</button>
                        <button class="tablinks" onclick="openDay(event, 'Sun')">Sunday</button>
                    </div>
                    @{ TimeSlotCollection _timeSlotCollection = new TimeSlotCollection();
                        BusinessUserCollection _businessUserCollection = new BusinessUserCollection();
                        IEnumerable<TimeSlotModel> timeSlots = _timeSlotCollection.GetTimeSlotByBusinessId(_businessUserCollection.GetBusinessId(User.Identity.Name)).OrderBy(o => o.StartTime);

                        List<string> DotW = new List<string> { "Mon", "Tue", "Wed", "Thu", "Fri", "Sat", "Sun" };

                    }
                    <div class="weekBox">

                        @foreach (var day in DotW)
                        {
                            if (day == "Mon")
                            {
                                <div id="@day" class="tabcontent" style="display: block;">
                                    <div class="TimeSlots">
                                        <table style="width:100%">
                                            <tr>
                                                <th>Day</th>
                                                <th>Start Time</th>
                                                <th>End Time</th>
                                                <th>Spots</th>
                                                <th></th>

                                            </tr>
                                            @foreach (var timeSlot in timeSlots)
                                            {
                                                if (timeSlot.DayOTWeek == day)
                                                {
                                                    <tr>
                                                        <th>@timeSlot.DayOTWeek</th>
                                                        <td>@timeSlot.StartTime.TimeOfDay</td>
                                                        <td>@timeSlot.EndTime.TimeOfDay</td>
                                                        <td>@timeSlot.NumberOfSpots</td>

                                                    </tr>
                                                }
                                            }
                                        </table>
                                    </div>
                                </div>
                            }
                            else
                            {
                                <div id="@day" class="tabcontent" style="display: none;">
                                    <div class="TimeSlots">
                                        <table style="width:100%">
                                            <tr>
                                                <th>Day</th>
                                                <th>Start Time</th>
                                                <th>End Time</th>
                                                <th>Spots</th>
                                                <th></th>

                                            </tr>
                                            @foreach (var timeSlot in timeSlots)
                                            {
                                                if (timeSlot.DayOTWeek == day)
                                                {
                                                    <tr>
                                                        <th>@timeSlot.DayOTWeek</th>
                                                        <td>@timeSlot.StartTime.TimeOfDay</td>
                                                        <td>@timeSlot.EndTime.TimeOfDay</td>
                                                        <td>@timeSlot.NumberOfSpots</td>

                                                    </tr>
                                                }
                                            }
                                        </table>
                                    </div>
                                </div>
                            }

                        }


                    </div>

                </div>
                <br/>
                <a class="btn btn-primary" asp-action="ManageTimeSlot" asp-controller="TimeSlot">Edit Time Slots</a>
            </div>


        </div>
    </div>
</div>
