@model Logic.BusinessUser.BusinessUserModel

@{
    ViewData["Title"] = "BusinessPage";
}
@using Logic.TimeSlot;

<head>
    <link rel="stylesheet" href="~/css/TimeSlotContainer.css" />
    <script src="~/js/TimeSlot.js"></script>
</head>

<h1>Welcome to @Model.BusinessName!</h1>
<h3>See the available timeslots below to make a reservation</h3>

<div>
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.BusinessName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.BusinessName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Info)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Info)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Sector)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Sector)
        </dd>
    </dl>
</div>

<h1>DatePicker</h1>

<h4>Date</h4>
<hr />


@using (Html.BeginForm("TimeSlotPicker", "Reservation", new { businessId = Model.Id }, FormMethod.Post))
{
    <table cellpadding="5">
        <tr>
            <td>Date:</td>
            <td><input type="date" name="Date" value=""/></td>
        </tr>
 
    </table>
    <br />
    <div class="text-danger">
        @TempData["ErrorDate"]
    </div>
    <input type="submit" value="Submit" />
}

<div class="mb-5">
    <a asp-action="Index">Back to Home</a>
</div>


