@model IEnumerable<Logic.Reservation.ReservationModel>;

<link rel="stylesheet" href="~/css/style.css" />

<style>    

</style>

<div class="v-main__wrap v-content__wrap">
    <div class="site-container elevation-shadow">




        <div class="reservation-table-headers">
            <h1>Upcomming Reservations:</h1>
            <div class="row">
                <div class="ResDate col-2">
                    Date:
                </div>

                <div class="ResBusiness col-2">
                    Business:
                </div>

                <div class="ResStart col-2">
                    Start Time:
                </div>

                <div class="ResEnd col-2">
                    End Time:
                </div>
            </div>
        </div>

        @foreach (var reservation in Model.Where(o => o.Date.Date >= DateTime.Now.Date))
        {

            <div class="ResevationContainer elevation-shadow">
                <div class="row">
                    <div class="ResDate col-lg-2 col-sm-1">
                        @reservation.Date.ToString("dd/MM/yyyy")
                    </div>

                    <div class="ResBusiness col-lg-2 col-sm-1">
                        @reservation.BusinessName
                    </div>

                    <div class="ResStart col-lg-2 col-sm-1">
                        @reservation.StartTime
                    </div>

                    <div class="ResEnd col-lg-2 col-sm-1">
                        @reservation.EndTime
                    </div>

                    <div>
                        <a class="btn btn-primary" asp-action="DeleteReservation" asp-controller="Reservation" asp-route-id="@reservation.Id">Cancel booking</a>
                    </div>
                </div>
            </div>


        }

        <div class="reservation-table-headers">
            <h1>Past Reservations:</h1>
            <div class="row">
                <div class="ResDate col-2">
                    Date:
                </div>

                <div class="ResBusiness col-2">
                    Business:
                </div>

                <div class="ResStart col-2">
                    Start Time:
                </div>

                <div class="ResEnd col-2">
                    End Time:
                </div>
            </div>
        </div>


        @foreach (var reservation in Model.Where(o => o.Date.Date < DateTime.Now.Date))
        {

            <div class="ResevationContainer elevation-shadow">
                <div class="row">
                    <div class="ResDate col-lg-2 col-sm-1">
                        @reservation.Date.ToString("dd/MM/yyyy")
                    </div>

                    <div class="ResBusiness col-lg-2 col-sm-1">
                        @reservation.BusinessName
                    </div>

                    <div class="ResStart col-lg-2 col-sm-1">
                        @reservation.StartTime
                    </div>

                    <div class="ResEnd col-lg-2 col-sm-1">
                        @reservation.EndTime
                    </div>
                </div>
            </div>
        }

    </div>
</div>