<!DOCTYPE html>
<html lang="en">

@using Logic.Reservation;
@using Logic.User
@using Logic.BusinessUser;

@{ ReservationCollection _reservationCollection = new();
    UserCollection _userCollection = new();
    BusinessUserCollection _businessUserCollection = new();
}

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - ProftaakDemo</title>
    <link rel="stylesheet" href="fonts/icomoon/style.css">
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/css/style.css">
</head>

<body class="sv-background">
    <nav>

        <aside class="sidebar">
            <div class="toggle mr-2">
                <a href="#" class="burger js-menu-toggle" data-toggle="collapse" data-target="#main-navbar">
                    <span></span>
                </a>
            </div>

            <div class="side-inner" style="overflow: hidden;">
                <div class="" style="display:inline-block">
                    <img class="center mb-5" style="max-width:95%;" src="~/Logo/SpotSaverLogo.png" alt="Logo Image" /><br>
                </div>

                @if (User.Identity.IsAuthenticated)
                {

                    if (User.IsInRole("User"))
                    {
                        UserModel user = _userCollection.GetUserByUserName(User.Identity.Name).First();
                        <div class="profile">
                            @if (user.ImageBase64 != null)
                            {
                                <img class="profile-img-round" src="data:image/png;base64, @user.ImageBase64" alt="Missing Profile Picture">
                            }
                            else
                            {
                                <img class="profile-img-round" src="~/Logo/Default_ProfilePicture.png" alt="Missing image">
                            }

                            <h3 class="name">@User.Identity.Name</h3>
                        </div>
                        <div class="counter d-flex justify-content-center">
                            <div class="col nav-menu">
                                <ul>
                                    <li>
                                        <a style="text-decoration:none;" asp-area="" asp-controller="User" asp-action="ReservationOverview">
                                            <strong class="number">@_reservationCollection.GetNumberOfReservationsByUserId(user.Id)</strong>
                                            <span class="number-label">Reservations</span>
                                        </a>
                                    </li>
                                </ul>

                            </div>
                        </div>
                    }
                    else if (User.IsInRole("BusinessUser"))
                    {
                        BusinessUserModel businessUser = _businessUserCollection.GetBusinessUserByUserNameOrEmail(User.Identity.Name).First();
                        <div class="profile">
                            <img style="max-width:200px;" src="data:image/png;base64, @businessUser.ImageBase64" alt="Logo">
                            <br />
                            <h3 class="name mt-3">@User.Identity.Name</h3>
                        </div>
                    }
                }

                <div class="nav-menu">
                    <ul>
                        @if (!User.IsInRole("BusinessUser"))
                        {
                            <li><a asp-area="" asp-controller="Home" asp-action=""><span class="icon-home mr-3"></span>Home</a></li>
                        }

                        @if (User.IsInRole("BusinessUser"))
                        {
                            <li><a asp-area="" asp-controller="Home" asp-action=""><span class="icon-home mr-3"></span>Dashboard</a></li>
                        }

                        @if (User.Identity.IsAuthenticated && User.IsInRole("User"))
                        {
                            <li><a asp-area="" asp-route-userName="" asp-controller="User" asp-action="UserPage"><span class="icon-search2 mr-3"></span>Profile</a></li>
                            <li><a asp-area="" asp-controller="User" asp-action="Logout"><span class="icon-search2 mr-3"></span>Log Out</a></li>
                        }
                        @if (User.Identity.IsAuthenticated && User.IsInRole("BusinessUser"))
                        {
                            <li><a asp-area="" asp-controller="BusinessUser" asp-action="Logout"><span class="icon-search2 mr-3"></span>Log Out</a></li>
                        }
                        @if (!User.Identity.IsAuthenticated)
                        {
                            <li><a asp-area="" asp-controller="User" asp-action="Register"><span class="icon-search2 mr-3"></span>Register</a></li>
                            <li><a asp-area="" asp-controller="User" asp-action="Login"><span class="icon-search2 mr-3"></span>Login</a></li>
                        }

                        <li><a href="#"><span class="icon-pie-chart mr-3"></span>Contact</a></li>

                    </ul>
                </div>
            </div>
        </aside>
    </nav>

    @if (User.IsInRole("BusinessUser"))
    {
        <div style="height: 100px; width: 100%; background-color: #222831;">
            <h3 class="text-light" style="text-align:right; padding:20px;">Business</h3>
        </div>
    }
    else
    {
        <div style="height:100px; width:100%; background-color:rgb(228 228 228); ">
            @if (!User.Identity.IsAuthenticated)
            {
                <h3 class="text-light" style="text-align:right; padding:20px;"><a class="btn btn-primary" asp-action="Login" asp-controller="BusinessUser">Business</a></h3>

            }
        </div>
    }


    <script src="~/js/jquery-3.3.1.min.js"></script>
    <script src="~/js/popper.min.js"></script>
    <script src="~/js/bootstrap.min.js"></script>
    <script src="~/js/main.js"></script>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)

    <div class="container pt-3">
        <main role="main" class="pb-3 ">
            @RenderBody()
        </main>
    </div>

    <footer>
        <div class="container">
            <div class="row">

                <div class="col-lg-12">
                    <div class="copyright-text">
                        <p>
                            Copyright 2021

                            | SpotSaver
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </footer>
</body>


</html>
