<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - ProftaakDemo</title>
    <link rel="stylesheet" href="fonts/icomoon/style.css">
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/css/style.css">
</head>

@using Logic.Reservation;
@using Logic.User
@{ ReservationCollection _reservationCollection = new();
    UserCollection _userCollection = new();
}
<body>
    <aside class="sidebar">
        <div class="toggle mr-2">
            <a href="#" class="burger js-menu-toggle" data-toggle="collapse" data-target="#main-navbar">
                <span></span>
            </a>
        </div>

        <div class="side-inner" style="overflow: hidden;">
            <div class="" style="display:inline-block">
                <img class="center mb-5" style="max-width:95%;" src="~/Logo/SpotSaverLogo.png" alt="Logo Image" /><br>
            </div>

            @if (User.Identity.IsAuthenticated)
            {
                <div class="profile">
                    <img src="~/images/person_4.jpg" alt="Profile Picture" class="img-fluid">
                    <h3 class="name">@User.Identity.Name</h3>
                </div>
                if (User.IsInRole("User"))
                {
                    <div class="counter d-flex justify-content-center">
                        <div class="col nav-menu">
                            <ul>
                                <li>
                                    <a style="text-decoration:none;" asp-area="" asp-controller="User" asp-action="ReservationOverview">
                                        <strong class="number">@_reservationCollection.GetNumberOfReservationsByUserId((int)_userCollection.GetUserId(User.Identity.Name))</strong>
                                        <span class="number-label">Reservations</span>
                                    </a>
                                </li>
                            </ul>
                            
                        </div>
                    </div>
                }
            }

            <div class="nav-menu">
                <ul>
                    <li><a asp-area="" asp-controller="Home" asp-action=""><span class="icon-home mr-3"></span>Home</a></li>

                    @if (User.IsInRole("BusinessUser"))
                    {
                        <li><a asp-area="" asp-controller="TimeSlot" asp-action="ManageTimeSlot"><span class="icon-search2 mr-3"></span>Manage TimeSlots</a></li>
                    }

                    @if (User.Identity.IsAuthenticated && User.IsInRole("User"))
                    {
                        <li><a asp-area="" asp-route-userName="" asp-controller="User" asp-action="UserPage"><span class="icon-search2 mr-3"></span>Profile</a></li>
                        <li><a asp-area="" asp-controller="User" asp-action="Logout"><span class="icon-search2 mr-3"></span>Log Out</a></li>
                    }
                    @if (User.Identity.IsAuthenticated && User.IsInRole("BusinessUser"))
                    {
                        <li><a asp-area="" asp-controller="BusinessUser" asp-action="Logout"><span class="icon-search2 mr-3"></span>Log Out</a></li>
                    }
                    @if (!User.Identity.IsAuthenticated)
                    {
                        <li><a asp-area="" asp-controller="User" asp-action="Register"><span class="icon-search2 mr-3"></span>Register</a></li>
                        <li><a asp-area="" asp-controller="User" asp-action="Login"><span class="icon-search2 mr-3"></span>Login</a></li>
                    }

                    <li><a href="#"><span class="icon-pie-chart mr-3"></span>Contact</a></li>

                </ul>
            </div>
        </div>

    </aside>

    <div class="container">
        <main role="main" class="pb-3 ml-3">
            @RenderBody()
        </main>
    </div>



    <script src="~/js/jquery-3.3.1.min.js"></script>
    <script src="~/js/popper.min.js"></script>
    <script src="~/js/bootstrap.min.js"></script>
    <script src="~/js/main.js"></script>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
